.icon-lang{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    @if $lang == es {background-image: url(../img/iconos/icon\ arg.png) }
    @else if $lang == en{background-image: url(../img/iconos/ingles.png)}
    @else if $lang == fr{background-image: url(../img/iconos/france_4855771.png)}
    @else{background: url(../img/iconos/world-grid_156832.png)};
}

.transform{
    transform: translate(20px);
}

@mixin header{
    width: 100%;
}

@mixin grid{
    display: flex;
        background-color: $plColor;
      justify-content: center;
}
