.tienda{
    display: grid;
    grid-template-columns:20% repeat(2,1fr);
    grid-template-rows: auto repeat(3,300px);
    grid-template-areas: 
    "actions actions actions"
    "filters prod1 prod1"
    "filters prod2 prod3"
    "filters prod2 prod4";
    gap: 5px;
    color: $KeyColor;
    padding: 20px;
    .actions{
        padding: 0 30px;
        grid-area: actions;
        background-color: $bisqueColor;
    }
    .filters{
        grid-area: filters;
    }
    .prod1{
        grid-area: prod1;
        display: flex;
        flex-direction: row;
        padding: 0 80px;
        background-color: bisque;
        justify-content: center;
        p{
            width: 60%;
    margin-left: 20px;
        }
    }
    .prod2{
        grid-area: prod2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
        background-color: $bisqueColor;
    }
    .prod3{
        grid-area: prod3;
        display: flex;
        background-color: bisque;
        justify-content: center;
    }
    .prod4{
        grid-area: prod4;
        display: flex;
        background-color: $bisqueColor;
      justify-content: center;
    }
}

.tienda section{
    border-radius: 10px;

}

.class{
    margin: 0;
    padding: 0;
    background-color:$bisqueColor;
    box-sizing: border-box;
}

.class{
    width: 100%;
    min-height: 100%;
    padding: 5px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 6px 8px;
        font-size: 20px;
        color: antiquewhite;
    }
}

.class button{
    margin-left: 12px;
    background-color: rgb(90, 21, 21);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: $KeyColor;
    }
   }

nav .class{
    background-color: $navColor;
    
}
