$mainColor:rgb(87, 29, 29);
$secondaryColor: rgb(91,89,89);
$KeyColor:rgb(18,17,17);
$White:rgb(255, 255, 255);
$navColor: rgb(25, 109, 134);
$bisqueColor: bisque;
$plColor:rgb(255, 223, 184);

$mainFont: 'Roboto', sans-serif;

$textRegular:400;
$textLight:300;
$textBold:600;

$textSm:0.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

$lang:en;